{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <H1>ToDo</H1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="col-md-6">
             <form method="POST" class="p-3 shadow">
                {% csrf_token %}
                <div class="form-group py-2">
                   <input type="text" class="form-control" name="task" placeholder="Enter the task">
                </div>
                <div class="form-group py-2">
                    <input type="text" name="priority" class="form-control" placeholder="Enter your task priority">
                </div>
                  <div class="form-group py-2">
                    <input type="date" name="date" class="form-control" placeholder="Enter your date of task">
                </div>
                 <div class="form-group">
                   <input type="submit" class="btn btn-success">
                 </div>
             </form>
        </div>
        <div class="col-md-6 ">
            <h4> Task to be Completed</h4>
            {% for i in task %}
                <div class="shadow card ">
                    <div class="card-body">
                        <h1 class="card-title">{{ i.name }}</h1>
                        <a href="{% url 'todoapp:detail' i.id %}" class="btn btn-success">Detail</a>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>





</div>
{% endblock %}